@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
:root{
    --primary100: hsl(193, 38%, 86%);
    --primary200: hsl(150, 100%, 66%);

    --neutral400: hsl(217, 19%, 38%);
    --neutral500: hsl(217, 19%, 24%);
    --neutral700: hsl(218, 23%, 16%);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: var(--neutral700);
    font-family: 'Manrope', sans-serif;
}
main{
    padding: 1.5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    justify-content: flex-start;
    align-items: center;
}
.advice{
    padding: 0 2rem;
}
.advice-container{
    background-color: var(--neutral500);
    border-radius: .5rem;
    max-width: 513px;
    text-align: center;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
}
.dice{
    align-self: center;
    border-radius: 50%;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5rem;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 0H4a4.005 4.005 0 0 0-4 4v16a4.005 4.005 0 0 0 4 4h16a4.005 4.005 0 0 0 4-4V4a4.005 4.005 0 0 0-4-4ZM7.5 18a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm0-9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm4.5 4.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm4.5 4.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm0-9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Z' fill='%23202733'/%3E%3C/svg%3E");
    padding: 0;
    min-height: 4rem;
    min-width: 4rem;
    bottom: -2rem;
    position: absolute;
    background-color: var(--primary200);
    cursor: pointer;
}
.dice:hover{
    box-shadow: 0 0 1.5rem var(--primary200);
}
h1{
    color: var(--primary200);
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: 3rem auto;
}
p{
    font-size: 28px;
    color: var(--primary100);
    margin: 0 auto;
}
.divider{
    margin: 1rem 0 2.5rem 0;
    min-height: 2rem;
    max-width: 100%;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='295' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%234F5D74' d='M0 8h122v1H0zM173 8h122v1H173z'/%3E%3Cg transform='translate(138)' fill='%23CEE3E9'%3E%3Crect width='6' height='16' rx='3'/%3E%3Crect x='14' width='6' height='16' rx='3'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.attribution { font-size: 11px; text-align: center; color: var(--primary100);}
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 35em){
    .divider{
        background-image: url("data:image/svg+xml,%3Csvg width='444' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%234F5D74' d='M0 8h196v1H0zM248 8h196v1H248z'/%3E%3Cg transform='translate(212)' fill='%23CEE3E9'%3E%3Crect width='6' height='16' rx='3'/%3E%3Crect x='14' width='6' height='16' rx='3'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    main{
        margin-top: 0;
        justify-content: center;
    }
}